body {font-family:'Roboto','Helvetica Neue',Helvetica,Arial,'Verdana','Rosario','Crete Round', serif;font-size:16px;color:#313131;margin:0;padding:0;}

.ta {font-size:16px;}
.box{margin:auto;padding:25px;max-width:70%;}
.n1 {display:inline-block;border:1px solid #cecece;margin:5px;padding:3px;cursor:pointer;}
.live{border:1px solid #cecece;width:90%;margin:auto;padding:30px;}
.btn{width:80px;margin:10px;padding:5px;cursor:pointer;border:1px solid #cecece;}
